{% extends 'base_generic.html' %}

{% block content %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>
    <div class="custom-container">
        <h1>Electricity Cost Calculator</h1>
        <p>Electricity price: {{ electricity_price.price }} grn.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Calculate</button>
        </form>
        {% if difference %}
            <p>Date difference: {{ difference }} days.</p>
        {% endif %}
        {% if consumption %}
            <p>Consumption: {{ consumption }} units.</p>
        {% endif %}
        {% if total_coast %}
        <p>Total cost: {{ total_coast }} grn.</p>
        {% endif %}
        {% if meter_readings %}
    <h2>Meter Readings</h2>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Reading</th>
            </tr>
        </thead>
        <tbody>
            {% for reading in meter_readings %}
                <tr>
                    <td>{{ reading.date|date:"Y-m-d" }}</td>
                    <td>{{ reading.reading }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

    </div>
{% endblock content %}
